### Java ###
*.class
*.war
*.ear

### Gradle ###
.gradle/
build/*
!build/libs/
build/libs/*
!build/libs/*.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Database ###
mysql_data/

### OS ###
.DS_Store
Thumbs.db
