### Java ###
*.class
*.war
*.ear
*.jar
### Gradle ###
.gradle/
build/*
!build/libs/
build/libs/*

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Database ###
mysql_data/

### OS ###
.DS_Store
Thumbs.db
