### Java ###
*.class
*.jar
*.war
*.ear

### Gradle ###
.gradle/
build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Database ###
mysql_data/  # 아까 생성한 도커 볼륨 데이터 폴더입니다.

### OS ###
.DS_Store
Thumbs.db